*
{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-image: url("./1PFS.gif");
  
    margin: 100px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
    

body .content h1{
    font-size: 7vmax;
    font-weight: 900;
    margin : 100px;
    color: white;

}


body .content h2{
    font-size: 4vmax;
    font-weight: 300;
    margin : 100px;
    color: white;

}

.btn{
    border-radius: 50px;
    border : 2px solid #fff;
    display: inline-block;
    width: 10vw;
    height : 10vh;
    font-size: medium;
    cursor: pointer;
    margin-top: 50;
    text-decoration: none;
    color: white;
}